{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% block content %}
<div class="container wrapper flex-grow-1">
      


    <h1 class="my-4">
      
{{ title }}

    </h1>
    <form method="post" class="form">
        {% csrf_token %}
        {% bootstrap_field form.name %}
        {% bootstrap_field form.description %}
        {% bootstrap_field form.status %}
        <div class="form-group"><label for="id_executor">Исполнитель</label><select name="executor" class="form-control" title="" id="id_executor">
            <option value="" selected="">---------</option>
            {% for elem in executor_opt %}
            <option value="{{elem.id}}">{{elem.first_name}} {{elem.last_name}}</option>
            {% endfor %}
          
        </select></div>
        {% bootstrap_field form.labels %}

        <button submit="{{ btn }}" class="btn btn-primary">
            {{ btn }}
        </button>
      </form>

{% endblock %}