{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% block content %}
  <div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% translate 'Задачи' %}</h1>
    <a class="nav-link" href="/tasks/create/">{% translate 'Создать задачу' %}</a>
    <div class="card mb-3">
        <div class="card-body bg-light">
            <form method="get" class="form-check">
              {% bootstrap_field filter.form.status %}
              {% bootstrap_field filter.form.executor %}
                <div class="form-group"><label for="id_labels">Метка</label><select name="labels" class="form-control" title="" id="id_labels" multiple="">
                {% for id, name in filter.form.labels.field.choices %}
                  <option value="{{id}}">{{name}}</option>
                {% endfor %}
                {% bootstrap_field filter.form.only_user %}
                </select></div>                
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Показать" />
                  </div>
            </form>
        </div>
    </div>



    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>
            {% translate 'Имя' %}
          </th>
          <th>
            {% translate 'Статус' %}
          </th>
          <th>
            {% translate 'Автор' %}
          </th>
          <th>
            {% translate 'Исполнитель' %}
          </th>
          <th>
            {% translate 'Дата создания' %}
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% if tasks %}
        {% for task in tasks %}
          <tr>
            <td>{{ task.id }}</td>
            <td>
              <a href="{{ task.id }}/">{{ task.name }}</a>
            </td>
            <td>{{ task.status }}</td>
            <td>{{ task.author }}</td>
            <td>{{ task.executor }}</td>
            <td>{{ task.created_date }}</td>
            <td>
              <a href="{% url 'task_update' task.id %}">{% translate 'Изменить' %}</a>
              <br />
              <a href="{% url 'task_delete' task.id %}">{% translate 'Удалить' %}</a>
            </td>
          </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
{% endblock %}
